@import "../../COLORS.scss";

.nav_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 165px;
  background-color: #fff;
}

.logo img {
  width: 126px;
}

.menu_items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-weight: 400;

  .menu_list_item {
    list-style: none;
  }
}

.nav_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;

  .cart_container {
    .item_count {
      position: absolute;
      top: -8px;
      right: -8px;
      background-color: $green;
      color: white;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      font-size: 14px;
      line-height: 20px;
    }
  }

  svg {
    width: 25.5px;
    height: 25.5px;
  }
}
